[DEFAULT]
rpc_backend = rabbit
transport_url = rabbit://<user>:<password>@<host>/<vhost>
analysis_plugins = 

[keystone_authtoken]
identity_uri =
auth_uri =
admin_tenant_name =
admin_user =
admin_password =
auth_version =
auth_protocol =
delay_auth_decision = True

[sqlalchemy]
database_uri = sqlite:////tmp/nemesis.db
echo = true

[swift]
user =
password =
domain =
project =
auth_version =
auth_uri =
region =
container =
